<h2>List of books</h2>
<div ng-show="vm.books">
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in vm.books">
                <td>
                    <a href ng-click="main.showBook(book)">{{ book.title }}</a>
                </td>
                <td>
                    <a href ng-click="main.showAuthor(book.author);">{{ book.author.name }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
